/* Cores padrões */
:root {
    --cor-background-padrao: #eeeeee;
    --cor-texto-padrao: #3a3a3a;
    --cor-preto: #000000;
    --cor-linkedin: #0e76a8;
    --cor-github: #171515;
    --cor-whatsapp: #25D366;
}

/* Container que agrupa todos elementos da página */
.container-principal {
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.logo {
    display: block;
    position: absolute;
    width: 14vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.container-apresentacao {
    display: flex;
    width: 100%;
    height: 55vh;
    gap: 50px;    
}

/* Box do texto de apresentação */
.box-txt-apresentacao {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    font-size: 16pt;
}

h1.bem-vindo {    
    font-size: 45pt;
}

h2.meu-nome { 
    margin-bottom: 15px;
    font-size: 20pt;
}

/* Botão para saber mais */
.btn-saber-mais {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 50px; 
    margin: 0 auto;
    box-shadow: 0px 0px 5px 2px #d3d3d3;
    color: #aaa;
    transition: 0.6s;
    text-decoration: none;
}

.btn-saber-mais:hover {
    border: 1px solid var(--cor-preto);
    cursor: pointer;
    box-shadow: none;
    color: var(--cor-preto);  
}

/* Box redes sociais */
.box-redes-sociais {
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 0px 5px 5px #ddd;
}

h1.txt-redes-sociais {
    font-size: 18pt;   
}

/* Container das redes sociais */
.icones-redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icone-github,
.icone-whatsapp,
.icone-linkedin {
    font-size: 42px;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 5px;
    transition: 0.4s;
}

/* Ícone GitHub */
.icone-github {
    color: var(--cor-background-padrao);    
    background-color: var(--cor-github);
    border: 1px solid var(--cor-github);
}

.icone-github:hover {
    color: var(--cor-github);    
    background-color: var(--cor-background-padrao);
}

/* Ícone Linkedin */
.icone-linkedin {
    color: var(--cor-background-padrao);
    background-color: var(--cor-linkedin);
    border: 1px solid var(--cor-linkedin);
}

.icone-linkedin:hover  {
    color: var(--cor-linkedin);    
    background-color: var(--cor-background-padrao);   
}

/* Ícone WhatsApp */
.icone-whatsapp {
    color: var(--cor-background-padrao);
    background-color: var(--cor-whatsapp);
    border: 1px solid var(--cor-whatsapp);
}

.icone-whatsapp:hover {
    color: var(--cor-whatsapp);    
    background-color: var(--cor-background-padrao);
}

/* Link para download do currículo */
.download-curriculo:hover {
    font-weight: bold;    
}